<head>
    <title>todo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=82ac022f-98f0-03c6-9642-f3f5c443ec78&c=code-for-google-map&u=1464211963" defer="defer" async="async"></script>
</head>

<body>
       <div id="wrap" class="">
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                     <h1 class=""><a href="#" title="Bootstrap Template" class="">The City Of Pasadena</a>
          <p class="lead"> Villa-Parke Community Center</p></h1>

                </div>
                <div class="col-sm-6">
                    <div class="pull-right  hidden-xs"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3 class=""><i class="glyphicon glyphicon-cog"></i></h3></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i> <a href="http://cityofpasadena.net/HumanServices/VillaParke_Community_Center/">ORIGINAL</a> </a>
                            </li>
                            <li><a href="#" class=""><i class="glyphicon glyphicon-user"></i>  <a href="http://cityofpasadena.net/HumanServices/">RECREATION DEPARTMENT</a></a>
                            </li>
                            <li><a href="#" class=""><i class="glyphicon glyphicon-lock"></i>  <a href="http://www.cityofpasadena.net/SummerCamp1/">SUMMER CAMPS</a> </a>
                            </li>
                            <li><a href="#" class=""><i class="glyphicon glyphicon-cog"></i> <a href="http://www.cityofpasadena.net/WorkArea/DownloadAsset.aspx?id=6442456007">VILLA PARKE MAP</a> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-justified">
                    <li><a href="#" class="">Home</a>
                    </li>
                    <li><a href="#section2" class="">Product</a>
                    </li>
                    <li><a href="#section3" class="">News</a>
                    </li>
                    <li class="active"><a href="#section1" class=""><strong class="">Information</strong></a>
                    </li>
                    <li><a href="#section4" class="">About</a>
                    </li>
                    <li><a href="#section5" class="">Map</a>
                    </li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="#" class="">Action</a>
                            </li>
                            <li><a href="#" class="">Another action</a>
                            </li>
                            <li><a href="#" class="">Something else here</a>
                            </li>
                            <li><a href="#" class="">Separated link</a>
                            </li>
                            <li><a href="#" class="">One more separated link</a>
                            </li>
                </ul>
                </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </div>
    <!--/.navbar -->
    <!-- Begin page content -->
    <div class="divider" id="section1"></div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header text-center">
                 <h1 class="">VILLA-PARKE COMMUNITY CENTER</h1>

            </div>
            <p class="lead text-center">Information</p>
            <p class="text-center">The Villa-Parke Community Center is located at 363 E. Villa St. in Northwest Pasadena on an 8.1 acres site. A portion of the existing community center was originally a Boys' Club which was constructed in the 1940's. In 1973, the city acquired the building and renovated it, adding to the initial structure in the early 1990's. 

The Center has a total building area of 41,475 square feet, including a large auditorium with stage and storage area, social/recreation room, weight room, boxing room, teen facility meeting rooms, senior room, several small meeting rooms, two kitchens, lounge, and a gymnasium with showers and dressing rooms. Recreation activities include a complete aerobics program, Self Defense (Jujitsu), Arts & Crafts, Seasonal Sports Leagues, a unique Summer Enrichment Day Camp, and the City's largest Youth Soccer Program. 

In addition to the recreation use and Farmers Market, a large portion of the Center’s foot traffic are individuals seeking social services. Information and referral services are provided to walk-in clients regarding social security benefits, unemployment, employment, housing, consumer protection, welfare, health services office, day care, senior issues, and additional programs and services provided by governments and local organizations. Various local human services organizations also provide activities at the Center, including El Centro de Accion Social, La Escuela de la Comunidad, Head Start, Health Department (WIC), and more. Many staff are bilingual (English-Spanish). The Center has approximately 18,000 drop-in client visits per month. 
The advisory committee, city officials and the architects kept this information in mind when planning this community center. The Center contains the dreams of those visionaries and reflects the neighborhood needs and concerns. The City of Pasadena is proud to welcome you to the Villa-Parke Community Center.</p>
        </div>
    </div>
    <div class="divider" id="section2"></div>
    <section class="bg-1">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 style="padding:20px;background-color:rgba(5,5,5,.8)" class="">ABOUT HUMAN SERVICES & RECREATION DEPARTMENT</h2>
        </div>
    </section>
    <div class="divider"></div>
    <div class="container" id="section3">
        <div class="col-sm-8 col-sm-offset-2 text-center">
             <h1 class=""></h1>

            <p class="">
The Human Services and Recreation Department invites you to join us in our programs and activities which serve people of all ages and abilities and can provide you with an opportunity to enhance your life by meeting new friends and neighbors, exploring the arts, learning about community services, developing skills and so much more!</p>
            <hr class="">
            
            <hr class="">
        </div>
        <!--/col-->
    </div>
    <!--/container-->
    <div class="divider"></div>
    <section class="bg-3" id="section4">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 style="padding:20px;background-color:rgba(5,5,5,.8)" class="">City Of Roses</h2>
        </div>
    </section>
    <div class="continer bg-4">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="">
                       
                    </div>
                    <div class="panel-body">
                        <p class="lead">villa</p>
                        <p class=""></p>
                        <p class="">
                           
                        </p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                       
                    </div>
                    <div class="panel-body">
                        <p class="lead">Villa </p>
                        <p class=""> .</p>
                        <p class="">
                           
                        </p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        
                    </div>
                    <div class="panel-body">
                        <p class="lead">villa</p>
                        <p class="">.</p>
                        <p class="">
                            
                           
                        </p>
                    </div>
                </div>
                <!--/panel-->
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
    <div class="divider" id="section5"></div>
    <div class="row">
         <h1 class="text-center">Where In The World?</h1>
        <center>
        <div style="width:500px;max-width:100%;overflow:hidden;height:500px;color:red;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Villa+Parke+Community+Center,+East+Villa+Street,+Pasadena,+CA,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div></div>
</center>
        <div id="map-canvas" class=""></div>
        <hr class="">
        <div class="col-sm-8">
            <div class="row form-group">
                <div class="col-xs-3">
                    <input class="form-control" id="firstName" name="firstName" placeholder="First Name" required="" type="text">
                </div>
                <div class="col-xs-3">
                    <input class="form-control" id="middleName" name="firstName" placeholder="Middle Name" required="" type="text">
                </div>
                <div class="col-xs-4">
                    <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <input class="form-control" name="email" placeholder="Email" required="" type="email">
                </div>
                <div class="col-xs-5">
                    <input class="form-control" name="phone" placeholder="Phone" required="" type="email">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                    <input class="form-control" placeholder="Website URL" required="" type="homepage">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-10">
                    <button class="btn btn-default pull-right">Contact Us</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 pull-right"> <address>
        <strong class="">Villa Park</strong><br class="">
       363 E Villa St<br class="">
         Pasadena, CA 91101<br class="">
        P: (626) 744-6530
      </address>
 <address>
        <strong class="">Email Us</strong><br class="">
        <a href="mailto:#" class=""> hsr-activenet@cityofpasadena.net</a>
      </address> 
        </div>
    </div>
    <!--/row-->
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">
             <h2 class="">Villa park</h2>

            <hr class="">
             <h4 class="">
       Come to the park
      </h4>

            <p class=""> <a href="http://bootply.com" class=""></a>,
                .</p>
            <hr class="">
            <ul class="list-inline center-block">
                <li><a href="http://facebook.com/bootply" class=""></a>
                </li>
                <li><a href="http://twitter.com/bootply" class=""></a>
                </li>
                <li><a href="http://google.com/+bootply" class=""></a>
                </li>
                <li><a href="http://pinterest.com/in1" class=""></a>
                </li>
            </ul>
        </div>
        <!--/col-->
    </div>
    <!--/container-->
</div>
<!--/wrap-->
<div id="footer" class="">
    <div class="container">
        <p class="text-muted">Contact the City (626) 744-7311 
Copyright 2016 © Pasadena. All rights reserved<a href="http://www.bootply.com" class="">villapark.com</a>
        </p>
    </div>
</div>
<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top" class=""><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>
</body>

